#  Ignore the temp directory     #
#  Ignore the out directory      #
#  Ignore the idea workspace xml #
##################################
tmp
out
.idea
*.class
*.out
*.pdf
*.zip
*.bal
*.conf
ballotScanner/BallotScannerUITester.java
supervisor/view/BallotScannerMachineViewTester.java
CommandsFile.txt

