#  Ignore the temp directory     #
#  Ignore the out directory      #
#  Ignore the idea workspace xml #
##################################
tmp
out
.idea
*.xml
*.class
*.out
*.pdf
*.conf
*.jar
ballotScanner/BallotScannerUITester.java
supervisor/view/BallotScannerMachineViewTester.java
#CommandsFile.txt

