@main("About Us") {

<!--suppress ALL -->
    <div style="text-align : center ;"><h1>About Us</h1></div>

<p>
    STAR-Vote is an academic exploration into various new developments in voting security research.
    Heavily emphasising paper trails and end to end cryptography the project hopes to provide a more secure
    Direct-Recording Electronic vote system.
</p>

<h2>STAR-Vote</h2>


<p>
    The project was started in 2007 by Dan Wallach PhD of Rice University as VoteBox, a temper-evident, verifiable electronic voting system.
    However, in the coming years the project evolved and today holds an entirely
    different form than the original VoteBox Project, hence the new name - STAR-Vote.
</p>

<p>
    For more information about our project, please visit the VoteBox project page <a target="_blank" href="http://votebox.cs.rice.edu/" style="color:#000000"> here</a>.
</p>

<p>
    The STAR-Vote project is on <a target="_blank" href="https://github.com/mdb92nc/STAR-Vote" style="..."> github </a>
</p>

<p> The projects developing api can be found <a href = "/api" style="..."> here </a> </p>

}