@(title: String)(content: Html)

<script language="javascript"> 

   function PostClear(){
       alert("clear");
      $.post("/adminclear"); 
   }
   function PostConflicts(){
       alert("conflict");
      $.post("/adminconflicts"); 
   }
   function PostPublish(){
       alert("publish");
      $.post("/adminpublish"); 
   }

</script>

@main("Administrator Login") {
    <h1>Administrative Page</h1>
   
    <div id = NBar>
    <ul id="adminNavBar">
            <li><a href="javascript:PostClear()">Clear</a></li>
            <li><a href="javascript:PostConflicts()">Resolve Conflicts</a></li>
            <li><a href="javascript:PostPublish()">Publish Results</a></li>
        </ul>
    </div>
    
    @content
    
   
   
}
