@(message: String)

@admin("Clear"){

    <center>
        <h2>Clear</h2>
    </center>
    <p>
        Clicking The button below will clear ballots and ballot ids stored on the Web Server, This action can not be undone.
    </p>
     <center>
    @if(message.equals("No data to clear!")){
       
            <div style="color:#008800;">
                @message
            </div>
    } else { 
         <p>
        <form action="/admin/clear" method="GET">
            <input type="submit" value="Clear Data">
        </form>
    }
        
    
    </center>    
     
}