@(message: String)

@main("Administrator Login") {

    <center>
        <h1>Administrator Login</h1>
    </center>

    @if(message != null)  {
    <center>
        <div style="color:#FF0000;">
            <p>
                @message
            </p>
        </div>
    </center>
    }
    <p>
        Enter administrative credentials below
    </p>

    <center>
        <form action="/admin/login" method="POST">
            Username: <input type="text" name="username"><br>
            Password: <input type="password" name="password"><br>
            <input type="submit" value="Login">
        </form>
    </center>

    <div id="wrapper"></div>
}