@(message: String)(content: Html)



@main("Administrator") {
    <h1>Administrative Page</h1>
    
    <center>
        <div id = ANBar>
            <ul id="adminNavBar">
                    <li><a href="/admin">Admin</a></li>
                    <li><a href="/admin/clear">Clear</a></li>
                    <li><a href="/admin/conflicts">Conflicts</a></li>
                    <li><a href="/admin/publish">Publish</a></li>
                    <li><a href="/admin/logout">Logout</a></li>
            </ul>
        </div>
        
    </center>
    
    <br>
    @content
   
}    

