@(message: String)(content: Html)



@main("Administrator") {
    <!--suppress ALL -->
    <h1>Administrative Page</h1>
    
    <div style="text-align : center ;">
        <div id = ANBar>
            <ul id="adminNavBar">
                    <li><a href="/admin" class ="adminNavBar">Main</a></li>
                    <li><a href="/admin/clear" class="adminNavBar">Clear</a></li>
                    <li><a href="/admin/conflicts" class="adminNavBar">Conflicts</a></li>
                    <li><a href="/admin/publish" class="adminNavBar">Publish</a></li>
                    <li><a href="/admin/logout" class="adminNavBar">Logout</a></li>
            </ul>
        </div>
        
    </div>
    
    <br>
    @content
   
}    

