@(message: String, user: String)(content: Html)

@main(message) {
    <!--suppress ALL -->
    <h1>Election Authority Page</h1>
    <h2>@message</h2>
    <h2>Authority: @user</h2>

    <div style="text-align : center ;">
        <div id = AuNBar>
            <ul id="authNavBar">
                <li><a href="/authority" class ="authNavBar">Main</a></li>
                <li><a href="/authority/keygeneration" class="authNavBar">Key Generation</a></li>
                <li><a href="/authority/decrypt" class="authNavBar">Authority Decryption</a></li>
                <li><a href="/logout" class="authNavBar">Logout</a></li>
            </ul>
        </div>

    </div>

    <br>
    <br>

    @content

}




