@(message: String, user: String, stage: Integer)


@authority("Key Generation", user) {

    <script>

    function doIt(event) {
    var form = document.forms[event.target.id];
    form.action = "/authority/keygeneration";
    form.submit();

    return true;
    }

    </script>



    @if(stage == 4) {

        <div style="color:#008800;">
            @message
        </div>

    } else {

        <div align ="center">
            <h2>@message</h2>

        </div>


        <div style="text-align : center ;">
                <form method="POST" name=@stage>
                    <input type="submit" class="button green medium" value="Confirm" name="confirm" onClick="doIt(event)">
                </form>
        </div>
    }
    <div id="wrapper"></div>
}


