@(ballotid: String)

@main("Ballot Not Found") {
    <h2>
        Hmm....
    </h2>
    <p>
    It appears that your ballot is not present in our records. Please note that your ballot will not be found here while the election is still in progress. Once an elecion is closed, it may take up to 24 hours for your ballot to be uploaded to this location by election officials.
    </p>
    <p>
    If you scanned a QR code to reach this page, you can try manually entering the URL on your reciept.
    </p>
    <p>
    If problems persist and a full 24-hour period has passed after the closing of election polls, please contact your local election office to pursue a solution.
    </p>
}