@(ballot: ChallengedBallot)(ballotid: String)

@import helper.twitterBootstrap._

    @main("Challenging Ballot") {

    <center><h1 style="text-align: center">STAR-Vote Ballot Challenge</h1></center>
    <p>
        The BID of your challenged ballot is @ballotid.
    </p>
    <p>
        Below is a visual representation of your ballot as cast by you in the voting booth. You can cross reference the selections shown below with those on your printed ballot.
    </p>
    <p>
        Please note that the visual appearance of the ballot below may be different than your printed copy, however the selections represented below should completely match those on your printed copy.
    </p>
    <p>
        If you question the integrity of your vote due to information shown on this web page, please contact your local election office.
    </p>
    <div id="render" style = "width:600px;">
        <script>
            function httpGet(theUrl)
            {
                var xmlHttp = null;

                xmlHttp = new XMLHttpRequest();
                xmlHttp.open( "GET", theUrl, false );
                xmlHttp.send( null );
                return xmlHttp.responseText;
            }
            document.write(httpGet("/files?ballotid=" + @ballotid))
        </script>
    </div>
}
