@(records: java.util.List[VotingRecord])


<script type="text/javascript">

      function get_checkboxes() {
        
        var inputs = document.getElementsByName("publishBox");
        
        var query = "";
        
        for(var i =0; i < inputs.length; i++) {
            if (inputs[i].checked) {
                query += "records=" + inputs[i].value + "&";
            }
        }
        
        return query.substring(0,query.length-1);
      }

      function onClick() {
        document.location.href = "/admin/publishresults?" +  get_checkboxes();
      }
      
</script>


@if(records.size() == 0) {
    <div style="text-align : center ;">
    <div style="color:#008800;">
        Currently no voting records are available for publishing!
    </div>
    </div>
} else { 

    <ul>
    
        
        <table class ="reference" style="width:80%">
        
        <tbody>
        
        
        @for(vr <- records) {
            <tr><td><label for="value="></label> <input type="checkbox" name="publishBox" id=@vr.precinctID value=@vr.getHashes>
                <label for=@vr.getHashes>@vr.precinctID : @vr.getHashes</label>
            </td></tr>
        }
        
        </tbody>
        
        </table>
       
        <input type="submit" class="button green medium" value="Publish" style="float: right;" id="Publish" onClick="onClick()">
       
        
        <br>
        
    
    </ul>
}
