@(status: String)(id: String)

@psycMain(true)("CHECK MY VOTE") {

    @if(status == "cast") {

        <div id = "msg" class="correct">
            <img src="/assets/images/checkmark.png" class = "icon"/>
            <p> Your ballot (#@id) was successfully cast and has been counted in the election! </p>
        </div>

    } else {
        @if(status == "challenged") {

            <div id = "msg" class="warning">
                <img src="/assets/images/warning.png" class = "icon"/>
                <p> Your ballot (#@id) was not placed in the ballot box, so the ballot was not counted in the election tally. </p>
            </div>

        } else {
            @if(status == "invalid") {

                <div id = "msg" class="invalid">
                    <img src="/assets/images/x.png" class = "icon"/>
                    <p> @if(id != "") {
                        The ballot number you entered (#@id) does not exist in the system. Please check that you entered the correct code and try again.
                    } else {
                        You did not enter a ballot number.<br>Please try again.
                    }
                </div>

            }
        }
    }

    <div id= "contentbuttons">
        <ul>
            <li><a href="/check"> Enter another ballot ID </a></li>
            <li><a href="/report/@id"> Report an issue </a></li>
        </ul>
    </div>

}


