@(title: String)(content: Html)

<!DOCTYPE html>

<html id = "mainHtml">
<head>
    <title>@title</title>
    <link rel="stylesheet" media="(max-device-width: 690px)" href="@routes.Assets.at("stylesheets/mobileMain.css")">
    <link rel="stylesheet" media="(min-device-width: 690px)" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <center>
        <div id = "header">
            <a href="/"><img src="/assets/images/logo.png" alt="STAR-Vote Icon" align="middle|top" width = 100% height = auto></a>
        </div>
        <div id = NBar>
            <ul id="navBar">
                <li><a href="/">Home</a></li>
                <li><a href="/challenge">challenge</a></li>
                <li><a href="/confirm">confirm</a></li>
                <li><a href="/aboutUs">About</a></li>
            </ul>
        </div>
    </center>
</head>
<body style="height:100%;">
    <div id="content" class="container">
        <div class = "vSpace"></div>
        <div id="inner" class="container">
            @content
        </div>
        <div class = "vSpace"></div>
    </div>
</body>
</html>