@(title: String)(content: Html)

<!DOCTYPE html>

<!--suppress ALL -->
<html id = "mainHtml">
<head>
    <title>@title</title>
    <link rel="stylesheet" media="(max-device-width: 690px)" href="@routes.Assets.at("stylesheets/mobileMain.css")">
    <link rel="stylesheet" media="(min-device-width: 690px)" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div style="text-align : center;">
        <div id = header style="text-align: center">
            <a href="/"><img src="/assets/images/logo.png" alt="STAR-Vote Icon" align="middle|top" width = 100% height = auto></a>
        </div>
        <div id = NBar>
            <ul id="navBar">
                <li><a href="/" class="navBar">Home</a></li>
                <li><a href="/challenge" class="navBar">challenge</a></li>
                <li><a href="/confirm" class="navBar">confirm</a></li>
                <li><a href="/aboutUs" class="navBar">About</a></li>
                <li><a href="/admin" class="navBar">Admin</a></li>
                <li><a href="/authority" class="navBar">Authority</a></li>
            </ul>
        </div>
    </div>
</head>
<body style="height:100%;">
    <div id="content" class="container">
        <div class = "vSpace"></div>
        <div id="inner" class="container">
            @content
        </div>
        <div class = "vSpace"></div>
    </div>
</body>
</html>