@(navbarShow: Boolean)(mainTitle: String)(content:Html)

<!DOCTYPE html>
        <!--- Votechecker home page -->
    <html>

        <head>
            <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/psyc.css")">
        </head>

        <style>
            body {
                opacity: 0;
            }
        </style>

        <body>
            <div id="header">
                <h1 @if(!navbarShow){style="width: 100%"}> @mainTitle </h1>
            </div>
            <div id="body">

                @if(navbarShow) {
                    <div id="navbar">
                        <ul>
                            <li><a class="sideButton" href="/check"> CHECK MY VOTE </a></li>
                            <li><a class="sideButton" href="/pollresults" > POLL <br>RESULTS </a></li>
                            <li ><a class="sideButton" href="/tools" id="tools"> TOOLS FOR EXPERTS </a></li>
                        </ul>
                    </div>
                }

                <div id="content" @if(!navbarShow){style="position: static; width: 100%"}>
                @content
                </div>
            </div>
            <div id ="footer"></div>
        </body>

        <script type="text/javascript">
                window.onload = function() {
                    document.getElementsByTagName("body")[0].style.opacity = 1;
                };
        </script>

    </html>
