@(navbarShow: Boolean)(content:Html)

<!DOCTYPE html>
<!--- Votechecker home page -->
<html>

	<head>
		<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/psyc.css")">
	</head>

	<body>
		<div id="header">
			<h1> HOME </h1>
		</div>
		<div id="body">

            @if(navbarShow) {
                <div id="navbar">
                    <ul>
                        <li><a href="/check"> CHECK MY VOTE </a></li>
                        <li><a href="/pollresults" > POLL <br>RESULTS </a></li>
                        <li ><a href="/tools" id="tools"> TOOLS FOR EXPERTS </a></li>
                    </ul>
                </div>
            }

            <div id="content">
			    @content
            </div>
		</div>
		<div id ="footer"></div>
	</body> 

</html>
