@(raceTitle: String, raceResult: java.util.Map[String, Integer], max: Integer, total: Integer)

@raceTitle

<ul class="chart">
    <li class="axis">
        <div class="label">@{Math.round(Math.ceil(max/10.0)*10)}</div>
        <div class="label">@{Math.round(Math.ceil(max/10.0)*7.5)}</div>
        <div class="label">@{Math.round(Math.ceil(max/10.0)*5)}</div>
        <div class="label">@{Math.round(Math.ceil(max/10.0)*2.5)}</div>
        <div class="label">@{0}</div>
    </li>

@for(result <- raceResult.entrySet()) {

    @if(result.getValue == max) {

            <li class="bar salmon" style="height : @{Math.round(max/(Math.ceil(max/10.0)*10.0)*100)*.2/.25+20}% ;" >
                <div class="percent" title="@result.getValue vote(s)">@{Math.round(result.getValue*100.0/(total*1.0)*10.0)/10.0}<span>%</span></div>
                <div class="skill">@result.getKey</div>
            </li>


    } else {

            <li class="bar teal" style="height : @{Math.round(result.getValue / (Math.ceil(max / 10.0) * 10.0) * 100)*.2/.25+21}% ;" >
                <div class="percent" title="@result.getValue vote(s)">@{Math.round(result.getValue * 100.0 / (total * 1.0) * 10.0) / 10.0}<span>%</span></div>
                <div class="skill">@result.getKey</div>
            </li>


    }


}

</ul>
