@(id: String)

<script type="text/javascript">

function getCheckboxes() {
    var types = document.getElementsByName("receipttype");

    var query = "";

    for(var i =0; i < types.length; i++) {
        console.log(types[i])
        if (types[i].checked) {
            query += "&" + types[i].value + "=" + document.getElementById(types[i].value).value;
        }
    }

    return query;
}

function getIssue() {
    var issueVar = document.querySelector('input[name = "issue"]:checked');

    return (issueVar != null) ? issueVar.value : "none";
}

function toReceipt() {
    document.getElementById("reportcontainer").style.display = "none";
    document.getElementById("receiptcontainer").style.display = "block";
}

function sendReceipt(id) {
    document.getElementById("reportcontainer").style.display = "block";
    document.getElementById("receiptcontainer").style.display = "none";

    document.getElementsByName("receiptRequest")[0].action= "/report/" + id + "?issue=" + getIssue() +"&comments=" + document.getElementById("freeresponse").value + getCheckboxes();
    document.getElementsByName("receiptRequest")[0].submit(); // Submit the page
}

function sendNoReceipt(id) {
    document.getElementsByName("receiptRequest")[0].action= "/report/" + id + "?issue=" + getIssue() + "&comments=" + document.getElementById("freeresponse").value;
    document.getElementsByName("receiptRequest")[0].submit();
}
</script>

@psycMain(false)("Report an Issue") {



    <div id="reportcontainer" style="display: block">
        <h3>Select your problem:</h3>
        <input type="radio" name="issue" value="missing"> My ballot is not showing up at all<br>
        <input type="radio" name="issue" value="uncast"> My ballot says it was never cast<br>
        <input type="radio" name="issue" value="miscast"> My ballot was cast, but it shouldn't have been<br>
        <input type="radio" name="issue" value="other"> Other: <input type="text" name="Description"><br>
        <p id="comments"> Additional comments? <br>
        <input id="freeresponse" type="text" name="comments" style="width: 300px; height: 75px;"></p>
        <button id="submit" onclick="toReceipt()"> Submit </button>
    </div>

    <div id="receiptcontainer" style="display:none">
        <h3> How would you like to recieve your trouble ticket? </h3>
        <p id="helptext"> Select one or more of the options below </p> <br>
        <form method="POST" name="receiptRequest">
            <div id="options">
                <div id="printdiv">
                    <input type="checkbox" name="receipttype" value="print"> Print
                    <input type="hidden" name="willPrint" value="true" id="print">
                </div>
                <br>
                <div id="textdiv">
                    <input type="checkbox" name="receipttype" value="text"> Text<br>
                    <p class="enter"> Enter your phone number: <br>
                        <input type="text" name="phonenum" id="text"></p>
                </div>
                <br>
                <div id="emaildiv">
                    <input type="checkbox" name="receipttype" value="email"> Email<br>
                    <p class="enter">Enter your email address: <br>
                        <input type="text" name="emailaddress" id="email"></p><br>
                </div>
            </div>
            <div id="buttons">
                <ul>
                    <li><a id = "send" href="javascript: sendReceipt(@id)"> Submit </a></li>
                    <li id= "noreceipt"><a href="javascript: sendNoReceipt(@id)"> I don't want to receive<br>a copy of my ticket </a></li>
                </ul>
            </div>

        </form>
    </div>

}