@(email: String)(text: String)(id: String)

@psycMain(true)("Report an Issue") {

    <div id = "msg" class = "correct">
        <img src="../assets/images/checkmark.png" id = "correcticon"/>
        <p> Thank you! Your trouble ticket for ballot #@id has been submitted for review.</p>

            @if(text != null || email != null) {
                <p>

                A copy of your ticket has been sent to
                @if(text != null) {
                    @text
                }
                @if(text != null && email != null) {
                    and
                }
                @if(email != null) {
                    @email
                }.
                </p>
            }
    </div>

}