@(conflicts: List[VotingRecord])      
    
    
<script type="text/javascript">
      function get_radio_value(id) {
        
        // var form = document.getElementById("form_id");
        // var inputs = document.getElementById(form.value);
        var inputs = document.getElementsByName(id);
        
        
        for(var i =0; i < inputs.length; i++) {
            if (inputs[i].checked) {
                return inputs[i].value;
            }
        }
      }

      function onClick(event) {
        document.location.href = "/admin/conflicts/resolve?id=" + event.target.id + "&hash=" +  get_radio_value(event.target.id).value;
      }
    </script>


@if(conflicts.size() == 0) {
    No conflicts!
} else { 
    <ul>
    @for(vr <- conflicts) {
    
        <form method="post">
        
        <input type="hidden" id="form_id" value=@vr.precinctID />
        
        <table class ="reference" style="width:80%">
       
        
     
        <tbody>
        <tr>
            <th>
                @vr.precinctID
                <input type="submit" class="button green medium" value="Resolve @vr.precinctID" style="float: right;" id=@vr.precinctID onClick="onClick(event)">    
            </th>
        </tr>
        
        @for(hash <- vr.getHashes()) {
            <tr><td><input type="radio" name=@vr.precinctID id=@vr.precinctID value=@hash>
                <label for=@hash>@hash</label>
            </td></tr>
        }
        </tbody>
        </table>
        
       
        </form>  
        
        <br>
        
    } 
    </ul>
}
