@(conflicts: List[VotingRecord])      
<!DOCTYPE html>
    
    
<script type="text/javascript">
      function get_radio_value() {
        
        var form = document.getElementById("form_id");
        var inputs = document.getElementById(form.value);
        
        alert(">>>>" + inputs.value);
        
        if (inputs.checked) {
            return inputs.value;
        }
      }

      function onSubmit() {
        // alert(name.toString());
        //   console.log(name);
        alert(get_radio_value());
      }
    </script>


<ul>
@for(vr <- conflicts) {
    <form onsubmit="JavaScript:onSubmit();">
    
    <input type="hidden" id="form_id" value=@vr.id />
    
    <table class ="reference" style="width:80%">
   
    
 
    <tbody>
    <tr>
        <th>
            @vr.id
            <input type="submit" class="button green medium" value="Resolve @vr.id" style="float: right;">    
        </th>
    </tr>
    
    @for(hash <- vr.getHashes()) {
        <tr><td><input type="radio" id=@vr.id value=@hash>
            <label for=@hash>@hash</label>
        </td></tr>
    }
    </tbody>
    </table>
    
   
    </form>  
    
    <br>
    
} 
</ul>

