@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800);

#inner{
    background-color:#FBECEE
}

#content {
    background-color:#FBECEE
}

#header {
    background-color:#FBECEE
}

.vSpace{
    background-color:#FBECEE
}



body {
    font-family: 'Open Sans', sans-serif;
}

.chart {
    clear: both;
    padding: 0;
    width: 100%;
}
@media (min-width: 700px) {
    .chart {
        background: url("http://cl.ly/QSpc/bg-chart.png") right top repeat-x;
        height: 425px;
        margin: 10px auto -32px;
    }
}
.chart li {
    display: block;
    height: 20px;
    padding: 25px 0;
    position: relative;
    text-align: center;
    vertical-align: bottom;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px;
    border-radius: 4px 4px 0 0;
    -moz-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.6);
    -webkit-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.6);
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.6);
}
@media (min-width: 700px) {
    .chart li {
        display: inline-block;
        height: 425px;
        margin: 0 1.8% 0 0;
        width: 14%;
    }
}
.chart .axis {
    display: none;
    top: -17px;
    width: 8%;
}
@media (min-width: 700px) {
    .chart .axis {
        display: inline-block;
    }
}
.chart .label {
    background: #cccccc;
    margin: -9px 0 71px 0;
}
.chart .percent {
    letter-spacing: -1px;
    opacity: .8;
    width: 100%;
    font-size: 1.875rem;
}
@media (min-width: 700px) {
    .chart .percent {
        position: absolute;
        font-size: 2.125rem;
    }
}
.chart .percent span {
    font-size: 1.5rem;
}

.chart .percent:hover {
    display:inline; position:absolute; color:#111;
    border:1px solid #DCA; background:#fffAF0;
    z-index: 9999;

}

.chart .percent:hover:after {
    font-size: 1.5rem;
    border: 1px solid #fc0;
    padding: 3px 6px;
    background: #fffea1;
    content: attr(title);
    position: absolute;
    right: -40px;
    top: -26px;
}

.chart .skill {
    font-weight: 800;
    opacity: .5;
    overflow: hidden;
    text-transform: uppercase;
    width: 100%;
    font-size: 14px;
    font-size: 0.875rem;
}
@media (min-width: 700px) {
    .chart .skill {
        bottom: 20px;
        position: absolute;
        font-size: 16px;
        font-size: 1rem;
    }
}
.chart .teal {
    background: #4ecdc4;
    border: 1px solid #4ecdc4;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzc2ZDhkMSIvPjxzdG9wIG9mZnNldD0iNzAlIiBzdG9wLWNvbG9yPSIjNGVjZGM0Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #76d8d1), color-stop(70%, #4ecdc4));
    background-image: -moz-linear-gradient(#76d8d1, #4ecdc4 70%);
    background-image: -webkit-linear-gradient(#76d8d1, #4ecdc4 70%);
    background-image: linear-gradient(#76d8d1, #4ecdc4 70%);
}
.chart .salmon {
    background: #ff6b6b;
    border: 1px solid #ff6b6b;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmOWU5ZSIvPjxzdG9wIG9mZnNldD0iNzAlIiBzdG9wLWNvbG9yPSIjZmY2YjZiIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff9e9e), color-stop(70%, #ff6b6b));
    background-image: -moz-linear-gradient(#ff9e9e, #ff6b6b 70%);
    background-image: -webkit-linear-gradient(#ff9e9e, #ff6b6b 70%);
    background-image: linear-gradient(#ff9e9e, #ff6b6b 70%);
}