#mainHtml{
    background-color:#000C57
}
#header{
    background-color:#DCE1FC;
    width:750px;
}
#content
{
    margin: 0 auto;
    background-color:#DCE1FC;
    align:center;
    width:750px;
}
#inner
{
    margin: 0 auto;
    background-color:#DCE1FC;align:center;width:80%;
}
#NBar
{
    width:750px;
}

html, body{
    width:100%;
    font-family:"Arial";
}

.vSpace {
    height:50px;
    background-color:#DCE1FC;
}


table.lamp
{
width:100%;
padding:0px;
border:1px solid #d4d4d4;
}

table.lamp th
{
color:#000000;
background-color:white;
padding:10px;
padding-right:5px;
}

table.lamp td
{
padding:4px;
padding-left:0px;
padding-right:10px;
background-color:#ffffff;
}

table.tecspec th,table.tecspec td{
	border:1px solid #d4d4d4;padding:5px;padding-top:7px;padding-bottom:7px;vertical-align:top;text-align:left;
}

table.reference,table.tecspec{
	border-collapse:collapse;width:100%;
}

table.reference tr:nth-child(odd)	{background-color:#f1f1f1;}
table.reference tr:nth-child(even)	{background-color:#ffffff;}

table.reference tr.fixzebra			{background-color:#f1f1f1;}

table.reference th{
	color:#ffffff;background-color:#555555;border:1px solid #555555;padding:3px;vertical-align:top;text-align:left;
}

table.reference th a:link,table.reference th a:visited{
	color:#ffffff;
}

table.reference th a:hover,table.reference th a:active{
	color:#EE872A;
}

table.reference td{
	border:1px solid #d4d4d4;padding:5px;padding-top:7px;padding-bottom:7px;vertical-align:top;
}

table.reference td.example_code
{
vertical-align:bottom;
}

table.summary
{
border:1px solid #d4d4d4;
padding:5px;
font-size:100%;
color:#555555;
background-color:#fafad2;
}


#navBar
{
    list-style-type:none;
    margin:0;
    padding:0;
    display:inline;
}
#navBar
li{
float:left;width:25%;
}
#navBar
a:link,a:visited
{
    display:block;
    font-weight:bold;
    color:#FFFFFF;
    background-color:#5A37DB;
    text-align:center;
    padding:4px;
    text-decoration:none;
    text-transform:uppercase;
}
#navBar
a:hover,a:active
{
    background-color:#1E008C;
}

#ballotrender
{
    top_margin:30px;
    border:1px;
}