#mainHtml{
    background-color:#000C57
}
#header{
    background-color:#DCE1FC;
    width:750px;
}
#content
{
    margin: 0 auto;
    background-color:#DCE1FC;
    align:center;
    width:750px;
}
#inner
{
    margin: 0 auto;
    background-color:#DCE1FC;align:center;width:80%;
}
#NBar
{
    width:750px;
}

/* table start */
html, body{
    width:100%;
    font-family:"Arial";
}

.vSpace {
    height:50px;
    background-color:#DCE1FC;
}


table.lamp
{
width:100%;
padding:0px;
border:1px solid #00ff00;
}

table.lamp th
{
color:#0000FF;
background-color:green;
padding:10px;
padding-right:5px;
}

table.lamp td
{
/*padding:4px;*/
padding-left:0px;
/*padding-right:10px;*/
background-color:#00ff00;
}

table.tecspec th,table.tecspec td{
	border:1px solid #00ff00;padding:5px;padding-top:7px;padding-bottom:7px;vertical-align:middle;text-align:left;
}

table.reference,table.tecspec{
	border-collapse:collapse;width:100%;
}

table.reference tr:nth-child(odd)	{background-color:#dce1ec;}
table.reference tr:nth-child(even) {background-color:#ffffff;}

table.reference .fixzebra			{background-color:#f1f1f1;}

table.reference th{
	color:#ffffff;background-color:#1e008c;border:1px solid #1e008c;padding:3px;vertical-align:middle;text-align:left;
}

table.reference th a:link,table.reference th a:visited{
	color:#ffffff;
}

table.reference th a:hover,table.reference th a:active{
	color:#EE872A;
}

table.reference td{
	border:1px solid #d4d4d4;padding:5px;padding-top:7px;padding-bottom:7px;vertical-align:middle;;
}

table.reference .example_code
{
vertical-align:bottom;
}

.summary
{
border:1px solid #d4d4d4;
padding:5px;
font-size:100%;
color:#0000ff;
background-color:#fafad2;
}
/* Table end */

/* button start */
.button {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
	text-decoration: none;
}
.button:active {
	position: relative;
	top: 1px;
}

.medium {
    font-size: 12px;
    padding: .4em 1.5em .42em;
}
/* Button end */

/* Button colors */

.green {
color: #e8f0de;
border: solid 1px #538312;
background: #64991e;
background: -webkit-gradient(linear, left top, left bottom, from(#7dc74f), to(#4e7d4d));
background: -moz-linear-gradient(top, #7dc74f, #4e7d4d);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f', endColorstr='#4e7d0e');
}

.green:hover {
	background: #e8f0de;
	background: -webkit-gradient(linear, left top, left bottom, from(#7FDE58), to(#599B3E));
	background: -moz-linear-gradient(top,  #7FDE58,  #599B3E);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#7FDE58', endColorstr='#599B3E');
}
.green:active {
	color: #e8f0de;
	background: -webkit-gradient(linear, left top, left bottom, from(#4e7d4d), to(#7dc74f));
	background: -moz-linear-gradient(top,  #4e7d4d,  #7dc74f);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e7d4d', endColorstr='#7dc74f');
}
/* end button colors */

/*
  Hide radio button (the round disc)
  we will use just the label to create pushbutton effect
*/
/*input[type=radio] {*/
/*    display:none;*/
/*    margin:10px;*/
/*}*/
 
/*
  Change the look'n'feel of labels (which are adjacent to radiobuttons).
  Add some margin, padding to label
*/
/*input[type=radio] + label {*/
/*    display:inherit;*/
/*    padding: 4px 12px;*/
/*    background-color: #e7e7e7;*/
/*}*/

/*
 Change background color for label next to checked radio button
 to make it look like highlighted button
*/
/*input[type=radio]:checked + label { */
/*   background-image: none;*/
/*   background-color:#d0d0d0;*/
/*}*/

/* Login fields */
fieldset {
    width: 70%;
}

form {
  position: relative;

  width  : 80%;
  margin : 0 auto;

  /*background: #00FF00;*/
}

.field {
    text-align: right;
    width: 40%;
    float: left;
    font-weight: bold;
}

.textbox-300 {
    width: 200px;
    float: left;
}

fieldset p {
    clear: both;
    /*padding: 5px;*/
}


#navBar
{
    list-style-type:none;
    padding:0;
    display:inline;
}
#navBar
li{
float:left;width:25%;
}
#navBar
a:link,a:visited
{
    display:block;
    font-weight:bold;
    color:#FFFFFF;
    background-color:#5A37DB;
    text-align:center;
    padding:4px;
    text-decoration:none;
    text-transform:uppercase;
}
#navBar
a:hover,a:active
{
    background-color:#1E008C;
}

#ballotrender
{
    top_margin:30px;
    border:1px;
}